---
layout: page
title: 我这个人呐
description: "天真在这道路上，跌跌撞撞，怕被芒草割伤"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        夏天和秋天，美食与代码
    </blockquote>
    玉带虾仁、油发豆莛、红扒鱼翅、白扒通天翅、孔府一品锅、花揽桂鱼、纸包鸡、焖大虾、锅烧鸡、山东菜丸<br>
    麻婆豆腐、辣子鸡丁、东坡肘子、豆瓣鲫鱼、口袋豆腐、酸菜鱼、夫妻肺片、蚂蚁上树、叫花鸡、鱼香肉丝<br>
    咸菜焖猪肉、酿茄子、酿豆腐、梅菜扣肉、客家盐焗鸡、广式烧填鸭、烧鹅、红槽排骨、豆豉蒸排骨、煎酿三宝<br>
    佛跳墙、醉排骨、荔枝肉、扳指干贝、尤溪卜鸭、七星鱼丸汤、软溜珠廉鱼、龙身凤尾虾、油爆双脆、清炖全鸡<br>
    烤方、金陵丸子、白汁圆菜、清炖蟹粉狮子头、水晶肴蹄、鸡汤煮干丝、凤尾虾、三套鸭、无锡肉骨头、陆稿荐酱猪头肉<br>
    西湖醋鱼、东坡肉、荷叶粉蒸肉、西湖莼菜汤、龙井虾仁、虎跑素火腿、香酥焖肉、虾爆鳝背、油焖春笋<br>
    海参盆蒸、腊味合蒸、走油豆豉扣肉、麻辣子鸡、冰糖湘莲、臭豆腐、红烧寒菌、炒血鸭、湘西酸肉、蝴蝶飘海<br>
    清炖马蹄鳖、黄山炖鸽、徽州毛豆腐、鱼咬羊、香炸琵琶虾、八大锤、毛峰熏鲥鱼、香菇盒、火烘鱼、蟹黄虾盅<br>

    <p style="text-align:right;">
        我都喜欢吃
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        你想看什么？英文？不存在的……
    </blockquote>

    <p>
        chi de ,chi de
    </p>

    <p style="text-align:right;">
       taste good
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
